<ion-view view-title="修改密码">
  <ion-content>
    <div class="list list-inset stable-bg">
      <span class="input-label">请输入旧密码</span>
      <label for="" class="item item-input">
        <input type="password" ng-model="user.oldPassword">
      </label>
      <span class="input-label">请输入新密码</span>
      <label for="" class="item item-input">
        <input type="password" ng-model="user.password">
      </label>
      <span class="input-label">请再输入一次</span>
      <label for="" class="item item-input">
        <input type="password" ng-model="user.confirmPassword">
      </label>
    </div>
    <div class="padding">
      <button class="button button-energized button-block" ng-click="save()">确定</button>
    </div>
  </ion-content>
</ion-view>
