<ion-view>
  <div class="bar bar-header bar-energized bar">
    <h1 class="title">找回密码</h1>
  </div>
  <div class="bar bar-subheader">
    <h2 class="title" style="">1.输入邮箱或手机号>2.输入验证码>3.重置密码</h2>
  </div>
  <ion-content class="has-header has-subheader stable-bg" scroll="false">
    <div class="list list-inset stable-bg">
      <span class="input-label">邮箱/手机号</span>
      <label for="" class="item item-input">
        <input type="text">
      </label>
    </div>
    <div class="padding">
      <button class="button button-energized button-block">提交</button>
    </div>
  </ion-content>
</ion-view>
