<ion-view view-title="首页">
  <ion-content>
<img class="full-image"  src="/views/Home/image/androidbanner.png" alt="">
    <div class="row padding-left stable-bg">
      <div class="col stable-bg">
        <h6>今日</h6>
        <p class="income">156.31<span class="yuan">元</span></p>
          <p>比昨天：<span class="balanced">+16.26</span><i class="icon ion-arrow-right-a balanced"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本周周报表</h6>
        <p class="income">684.56<span class="yuan">元</span></p>
        <p>周期：265.26<i class="icon ion-arrow-down-a dark"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本月报表</h6>
        <p class="income">849.95<span class="yuan">元</span></p>
        <p>同期：265.26<i class="icon ion-arrow-up-a assertive"></i></p>
      </div>
      </div>
      <div class="row row-no-padding quick-actions">
        <div class="col col-25 col-border quick-action-item" ui-sref="app.category-list">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-ios-keypad-outline energized">
            </i>
            <h5>商品管理</h5>
          </a>
        </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-ios-keypad-outline energized">
            </i>
            <h5>新增商品</h5>
          </a>
        </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-ios-keypad-outline energized">
            </i>
            <h5>新增商品</h5>
          </a>
        </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-ios-keypad-outline energized">
            </i>
            <h5>新增商品</h5>
          </a>
        </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-keypad-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
    </div>
  </ion-content>
  <div class="row text-center" style="position:fixed;bottom: 8px;">
    <h4 style="width: 100%"><span>2010-2017 生意专家</span></h4>
  </div>
</ion-view>
