<ion-view view-title="添加商品">
  <ion-content class="has-footer">
    <div class="list">
      <div class="item item-icon-right item-thumbnail-left">
        <img src="/views/product/image/supplier_icon.png" alt="">
        <i class="icon"><h6>上传图片</h6></i>
      </div>
      <div class="item item-input item-icon-right">
      <label style="display: flex;width: 100%;padding-top: 2px;padding-bottom: 2px;" for="">
        <span class="input-label">条码</span>
        <input type="text" placeholder="输入商品条码">
      </label>
        <i class="icon ion-qr-scanner energized"></i>
      </div>

      <label class="item item-input" for="">
        <span class="input-label">名称<span class="energized">*</span> </span>
        <input type="text">
      </label>
      <div class="item item-icon-right">
        分类
        <span class="item-note">{{product.Category.Name}}</span>
        <i class="icon ion-chevron-right icon-accessory" ui-sref="app.category-list"></i>
      </div>
    </div>
    <div class="list">
      <label class="item item-input" for="">
        <span class="input-label">售价<span class="energized">*</span> </span>
        <input type="text">
      </label>
      <label class="item item-input" for="">
        <span class="input-label">进价</span>
        <input type="text">
      </label>
      <label class="item item-input" for="">
        <span class="input-label">库存</span>
        <input type="text">
      </label>
      <label class="item item-input" for="">
        <span class="input-label">规格</span>
        <input type="text">
      </label>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-energized">
    <div class="button-bar">
      <button class="button button-clear light">完成</button>
      <button class="button button-clear light">继续添加</button>
    </div>
  </div>
</ion-view>
