<ion-view view-title="店铺信息">
    <ion-content class="stable-bg">
        <ul class="list list-inset">
            <li class="item item-icon-right" ng-click="editShop('店铺名称','name')">
                店铺名称
                <span class="item-note">{{shop.name}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </li>
            <li class="item item-icon-right" ng-click="editShop('店铺简称','ab')">
                店铺简称
                <span class="item-note">{{shop.ab}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </li>
            <li class="item">
                注册时间
                <span class="item-note">{{shop.createTime}}</span>
            </li>
            <li class="item">
                手机号码
                <span class="item-note">{{shop.phone}}</span>
            </li>
        </ul>
        <ul class="list list-inset">
            <li class="item ">
                电子邮件
                <span class="item-note">{{shop.email}}</span>
            </li>
            <li class="item item-icon-right" ng-click="editShop('店主姓名','boss')">
                店主姓名
                <span class="item-note">{{shop.boss}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </li>
            <li class="item item-icon-right" ng-click="editShop('店铺电话','shopPhone')">
              店铺电话
                <span class="item-note">{{shop.shopPhone}}</span>
            <i class="icon ion-chevron-right icon-accessory"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>
